* {
    margin : 0;
    padding : 0;
    box-sizing :border-box;
}
body {
    margin: 0 auto;
    padding: 0;
    width: 250px;
    height: 600px;
    background-image: url(tools/back5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.animasi {
    transition: all 0.1s;
    -webkit-transition: all 0.1s;
}
.tombol-aktif {
    padding: 10px 40px;
    border-radius: 10px;
    margin-top: 250px;
    float: right;
    font-family: 'Pacifico',cursive;
    font-size: 25px;
    color: #FCF6F5FF;
    text-decoration: none;
}
.biru {
    background-color: #990011FF;
    border-bottom: 5px solidv #990011FF;
    text-shadow: 0px -2px #990011FF;
}
.tombol-aktif:active {
    transform: translate(100px,52px);
    -webkit-transform:translate(0px,5px) ;
    border-bottom: 2px solid ;
}