*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

body{
    background: url(/tools/back6.jpeg);
}

.container{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.container span{
    color: #8a0000;
    text-transform: uppercase;
    display: black;
}

.text1{
    font-size: 60px;
    font-weight: 70px;
    letter-spacing: 8px;
    margin-bottom: 20px;
    
    position: relative;
    animation: text 3s 1;
}
@keyframes text{
    0%{
        color: #ffd1a9;
        margin-bottom: -40px;
    }
    30%{
        letter-spacing: 25px;
        margin-bottom: -40px;
    }
    85%{

    }
}

